version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservice-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    container_name: auth-service
    hostname: auth-service
    ports:
      - "8081:8081"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      microservice-network:
        aliases:
          - auth-service
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_RABBITMQ_HOST=rabbitmq
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8081/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  recruitment-service:
    build:
      context: .
      dockerfile: ./recruitment-service/Dockerfile
    container_name: recruitment-service
    hostname: recruitment-service
    ports:
      - "8082:8082"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      microservice-network:
        aliases:
          - recruitment-service
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_RABBITMQ_HOST=rabbitmq
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8082/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  ai-service:
    build:
      context: .
      dockerfile: ./ai-service/Dockerfile
    container_name: ai-service
    ports:
      - "8083:8083"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservice-network
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_RABBITMQ_HOST=rabbitmq
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8083/actuator/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  api-gateway:
    build:
      context: .
      dockerfile: ./api-gateway/Dockerfile
    container_name: api-gateway
    hostname: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      auth-service:
        condition: service_healthy
      recruitment-service:
        condition: service_healthy
      ai-service:
        condition: service_healthy
    networks:
      microservice-network:
        aliases:
          - api-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_RABBITMQ_HOST=rabbitmq
    restart: on-failure:3
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

networks:
  microservice-network:
    driver: bridge