spring:
  application:
    name: auth-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

server:
  address: 0.0.0.0
  port: 8081
  tomcat:
    connection-timeout: 90000
    max-http-post-size: 52428800  # 50MB
    threads:
      max: 200
      min-spare: 10
  max-http-header-size: 65536

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  expiration: 300000    # 5 phút
  refresh-expiration: 600000  # 10 p
#  expiration: 1800000 # 30 phút
#  refresh-expiration: 604800000 # 7 ngày
