spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://auth-service:8081
              predicates:
                - Path=/auth/**
              filters:
                -name: CircuitBreaker
                args:
                  name: authServiceCircuitBreaker
                  fallbackUri: forward:/fallback
            - id: recruitment-service
              uri: http://recruitment-service:8082
              predicates:
                - Path=/positions/**, /cv/**, /upload/**, /analysis/**, /tracking/**
              filters:
                -name: CircuitBreaker
                args:
                  name: authServiceCircuitBreaker
                  fallbackUri: forward:/fallback

server:
  port: 8080
  address: 0.0.0.0

jwt:
  secret: LJ8WPZjFNSfnoD5g+JZXSFiQaMY6gfNvBfR8w9HwT9OI0yEg2RfH2t9mpR7C2Ij7

management:
  endpoints:
    web:
      exposure:
        include: health,info