spring:
  application:
    name: api-gateway
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

server:
  port: 8080
  address: 0.0.0.0

jwt:
  secret: LJ8WPZjFNSfnoD5g+JZXSFiQaMY6gfNvBfR8w9HwT9OI0yEg2RfH2t9mpR7C2Ij7
management:
  endpoints:
    web:
      exposure:
        include: health,info